body {
  margin: 0;
  font-family: 'Roboto', 'sans';
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.loading {
  position: relative;
  height: 80px;
  padding: 20px;

  > div {
    margin-left: 50%;
  }
}

.stage {
  height: 100%;
}

.app {
  height: 100%;
}

.main {
  height: 100%;
}

.instagram {
  margin: 0 -10px;
}
.instagram__image {
  padding: 10px;
}

.welcome {
  min-height: 100%;
  background: #E91E63;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__logo {
  display: block;
  width: 180px;
  height: 180px;
  background-color: #C2185B;
  border-radius: 50%;
  padding: 20px;
  fill: white;
  margin: 0 auto;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.welcome__h1 {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

.welcome__h2 {
  font-size: 1.5rem;
  margin: .5rem 1rem 2rem;
  text-align: center;
}

.welcome__name-challenge {
  font-size: 1.5rem;
  text-align: center;
}

.welcome__button {
  margin: 1rem;
  text-align: center;
}

.welcome__continue-hint__highlight {
  color: #2c3e50;
}

.main {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.main__sidebar {
  flex: 0.75;
  max-width: 400px;
  background: white;
  height: 100%;
}

.main__map {
  flex: 1;
  height: 100%;
}

.sidebar {

}

.sidebar__item {
  padding: 10px 20px;
}

.sidebar__item__title {
  color: #666;
  cursor: pointer;
  display: flex;
}

.sidebar__item__title__text {
  flex: 1;
}

.sidebar__item__title__action {
  align-self: flex-end;
  fill: #666;
  height: 24px;
  padding: 24px;
  padding: 4px;

  &:hover {
    fill: #333;
  }
}

.sidebar__item__content {
  display: none;
}

.sidebar__item__content--active {
  display: block;
}

.button__row {
  display: flex;
  justify-content: center;

  > div {
    margin: 10px;
  }
}

.react-typeahead-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.react-typeahead-input.react-typeahead-usertext {
  height: 50px;
  background: white !important;
  width: 300px;
  padding: 10px;
  font-size: 24px;
}

.react-typeahead-options {
  margin-left: -300px;
  z-index: 1000;
  margin-top: 50px;
  max-width: 500px;
  padding: 0;
  list-style: none;
  color: #E91E63;

  li {
    padding: 10px;
    cursor: pointer;
  }
}
